<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
		<h1>Sensor datails</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-4">
            <div class="well">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="/getwma" class="btn btn-default">Sensor logs</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                    <form action="/sensorLog" method="post">
                    <div class="form-group">
                    <input type="hidden" class="form-control" value = "<%= sensor.sensorId %>" name="log">
                        </div>
                            <button type="submit" class="btn btn-default">log</button>
                        </form>
                    </div>
					<div class="col-sm-6">
                    <form action="/sensorAlert" method="post">
                    <div class="form-group">
                    <input type="hidden" class="form-control" value = "<%= sensor.sensorId %>" name="sensorAlert">
                        </div>
                            <button type="submit" class="btn btn-default">Alert</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <div class="row">
                <div class="col-sm-4">
                    <% sensors.forEach(function(sensor){ %>
                    <%= sensor.name %>
                    <%= sensor.type %>
                    <form action="/logmysensor" method="post">
                    <div class="form-group">
                    <input type="hidden" class="form-control" value = <%= sensor.sensorId %> name="sensorId">
                        </div>
                            <button type="submit" class="btn btn-default"><%= sensor.sensorId %></button>
                        </form>
                        
                    <%  }) %>
                </div>
            </div>
        </div>
    </div>                    
</div>
</body>
</html>
